@import '../../scss/variables';
.navbar {
  overflow: hidden;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: $primary-color;
}
// hsl(302deg 93% 5% / 62%)
// $primary-color;
// #aa4ed0

.username {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.logo {
  color: #f2f2f2;
  padding: 14px 16px;
  /* text-decoration: none; */
  font-size: 17px;
}
